h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}
body {
    font-family:  'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    place-items: center;
    background: rgb(96,93,154);
    background: linear-gradient(90deg, rgba(96,93,154,1) 0%, rgba(203,118,28,1) 21%, rgba(0,212,255,1) 100%);
}
p {
    margin-left: 40px;
    margin-right: 40px;
}
@media (min-width: 1156px) {
    p {
        margin-left: 280px;
        margin-right: 280px;
    }
}
@media (min-width: 768px) {
    p {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width: 768px) {
    img {
        width: 90%;
        height: auto;
    }
}